@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>This is a .NET 8 Blazor Web App with Global Server Interactivity and basic authentication</p>
<p>When the user registers, we want to capture their first and last names, even though these fields are not part of the ASP.NET Core Identity default data schema.</p>
<p>How can we do this?</p>
